# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-log.txt
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.manifest

# Installer logs
pypoetry-install.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.log
*.rpt
*.out

# Translations
*.mo
*.pot

# Django stuff:
*.db
*.sqlite3
*.sqlite3-journal
# Assuming production.ini has sensitive information
production.ini

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx stuff:
docs/_build

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and editors
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.bak*
*~
*.tmp

# OS or platform files
.DS_Store
Thumbs.db

#env files
.env
